src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

  <flow name="get:\reports:uhub-sapi-config">

    <!-- Corrected set-variable syntax with single quotes for default value -->
    <set-variable value="#[attributes.headers.'x-correlation-id' default '']"
                  doc:name="Set correlationId"
                  doc:id="1b3e0ec1-d5c4-4b87-8fc3-3cb104ffa6e6"
                  variableName="correlationId"/>

    <set-variable value="#[attributes.queryParams.'state']" doc:name="Set Variable" doc:id="5dd7dcd8-1f0b-4fd4-920c-0ce2755094a6" variableName="stateValue"/>
		<logger level="INFO" 
            doc:name="Start Log" 
            doc:id="1879b8af-f34f-493b-b2e4-8ca2c6b8404c"
            message="transactionId: #[vars.transactionId]], correlationId: #[vars.correlationId], message: Started get reports flow and received query parameter is - #[attributes.queryParams.state]"/>

    <flow-ref doc:name="fetch-case-reports-sub-flow" 
              doc:id="d2862924-1b25-4ea2-85cf-4b998b8ebc43" 
              name="fetch-case-reports-sub-flow"/>

    <ee:transform doc:name="Transform Message" doc:id="77453b3b-e906-4939-bf24-286334670d38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" 
            doc:name="End Log" 
            doc:id="15163277-200c-4167-80b5-62a01256769f" 
            message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed get reports flow, payload: #[payload]"/>

  </flow>

</mule>
