src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
                          http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
  
  <flow name="post:\cases:application\json:uhub-sapi-config">
    
    <!-- Set Correlation ID -->
    <set-variable value="#[attributes.headers.'x-correlation-id' default '']"
                  doc:name="Set correlationId"
                  doc:id="1809e316-e288-42d3-b7a6-0c52aa42b04b"
                  variableName="correlationId"/>
    
    <!-- Log Start of Flow -->
    <logger level="INFO"
            doc:name="Start Log"
            doc:id="f99fc368-2ac6-4f0f-aa1e-2050739c43d1"
            message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Started register covid case flow, payload: #[payload]"/>
    
    <!-- Prepare Covid Case Payload -->
    <ee:transform doc:name="Prepare Covid Case Payload"
                  doc:id="bd7f97e5-14f7-4319-b260-9310ca3470c8">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var actionDate = now() as String{
    format :"yyyy-MM-dd"}
var owner = "UHIS"
---
{
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	country: payload.address.country,
	city: payload.address.city,
	date_of_birth: payload.dateOfBirth,
	case_type: payload.caseType,
	last_name: payload.lastName,
	source: payload.source,
	national_id_type: payload.nationalIDType,
	update_date: actionDate,
	create_by: owner,
	phone: payload.phone,
	state: payload.address.state,
	postal: payload.address.postal,
	create_date: actionDate,
	update_by: owner,
	first_name: payload.firstName,
	email: payload.email
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    
    <!-- Call Insert Covid Case Sub Flow -->
    <logger level="INFO" doc:name="Logger" doc:id="1c94cf98-5c66-45fa-b693-5aef517d30c2" message="Transformed Payload: #[payload]"/>
		<flow-ref doc:name="insert-covid-case-sub-flow"
              doc:id="47bd954a-ffe9-4889-92b3-4cdc0a03f7c2"
              name="insert-covid-case-sub-flow"/>
    
    <!-- Prepare Response -->
    
    <!-- Log End of Flow -->
    <logger level="INFO"
            doc:name="End Log"
            doc:id="4f3c46c5-bbf0-4d68-8ac9-90344cd31204"
            message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed register covid case flow, payload: #[payload]"/>
  
  </flow>
</mule>
